{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        welcome to ABC store where you can buys different items..
    {% endif %}
{% endblock %}
{% block title %}
{% if category %}
        {{ category.name }} - ABC store
    {% else %}
        see our New Collections -ABC store
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shop:allprodCat' %}">our product collections</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
     {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products">
</div>
<br>
<div>
    <h1 class="text-center my_title"> our products collections</h1>
    <p classs="text-justify">Welcome to our Farms, where we nurture our passion for producing fresh, delicious, and wholesome dairy products that have already become the preferred choice of celebrity chefs and gourmands. And we would love to share them with you.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
        <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
        <div class="card-body">
            <h4>{{product.name}}</h4>
        <p>{{product.price}}</p>
        </div>
        </div>
    </div>
     {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_page > 1 %}
       <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
         {% endif %}
    </div>
    <br>
</div>
{% endblock %}

